body {
    background: rgb(31, 109, 182);
    margin: 0;
    padding: 0;
   
}
  
.bienvenidos{
    background-color: rgba(2, 1, 1, 0.2);
}


.video-section {
    position: relative;
    height: 80vh;
    overflow: hidden;
    z-index: 0;
   
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    opacity: 0.7;

}
.descripcion{
    width: 100vw; /* 100% del ancho de la ventana del navegador */
    background-color: rgba(48, 40, 40, 0.2); /* 80% de transparencia */
}

.descrip{
    
    width: 100%; /* Ajusta el ancho del artículo */
    padding: 50px; /* Añade un poco de espacio alrededor del contenido */
    margin: 0 auto; /* Centra el artículo en la página */
}
.descrip h2{
    font-size: 25px; /* Tamaño de letra más grande */
    font-weight:lighter; /* Negrita para destacar */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Tipografía elegante y cursiva */
    font-style: oblique; /* Hace que el texto sea cursivo */
    line-height: 1.2;
    margin: 0;
    color:whitesmoke;
    text-shadow: 2px 2px 4px rgba(51, 47, 47, 0.7); /* Aumenta la sombra para mayor contraste */
      text-align: center;
}


.video-section .titulo h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
   color: rgba(241, 230, 65, 0.76) ;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

.nave {
    background-color: rgba(48, 40, 40, 0.2); /* 80% de transparencia */
}

.navbar-nav .nav-link {
    color: rgb(236, 231, 231) !important; /* Cambia el color de las letras a negro */
}

.navbar-brand, .navbar-toggler-icon {
    color: rgb(235, 222, 222) !important; /* Cambia el color de la marca y el ícono de menú a negro */
}

.form-control {
    color: rgb(233, 222, 222);
}

.conten1 {
    color: rgb(228, 215, 215);
}



/*Tipo de actividades*/


.con {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 columnas de igual tamaño */
    grid-template-rows: repeat(5, 1fr); /* 5 filas de igual tamaño */
    gap: 10px; /* Espacio entre las celdas */
    height: 500px; /* Altura del contenedor, ajusta según sea necesario */
    width: 80%; /* Ancho del contenedor (puedes ajustar este valor) */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    border-radius: 20px;
   
}




.con .caja1 {
    grid-column: span 6; /* Ocupa 4 columnas */
    grid-row: span 5; /* Ocupa 5 filas */
   
   
  
}
.con .caja2 {
    grid-column: span 3; /* Ocupa 4 columnas */
    grid-row: span 2; /* Ocupa 5 filas */
   
}

.con .caja3 {
    grid-column: span 3; /* Ocupa 3 columnas */
    grid-row: span 2; /* Ocupa 2 filas */
   
}
.con .caja4 {
    grid-column: span 3; /* Ocupa 3 columnas */
    grid-row: span 3; /* Ocupa 2 filas */
   
}
.con .caja5 {
    grid-column: span 3; /* Ocupa 3 columnas */
    grid-row: span 3; /* Ocupa 2 filas */
    
}
.con div {
    border-radius: 15px;
    overflow: hidden; /* Para que la imagen no sobresalga de la caja */
    border: 2px solid #1d1717;
  
    margin: 10px;
    position: relative;
}

.con img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
    object-fit: cover; /* Cubre todo el área respetando las proporciones */
    transition: filter 0.3s ease; /* Añade una transición suave a los efectos de la imagen */
}

/* Estilo para todas las cajas al pasar el mouse por encima */
.con div:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.2); /* Añade una sombra suave */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
 
}
.con div:hover img {
    filter: brightness(0.7); /* Oscurece la imagen al 70% */
}




/*ESTILOS DE LAS ACTIVIDADES*/
.ContenedorActividades {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Fija el número de columnas a 3 */
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.Actividad {
    background-color: rgba(109, 107, 107, 0.151); /* 80% de transparencia */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Asegura que todo el contenido esté centrado */
}

h3 {
    margin-bottom: 10px;
    color: black;
}

p {
    color: black;
    text-align: center; /* Centra el texto del párrafo */
}

.ImgActividades {
    width: 100%;
    max-width: 300px;
    height: 200px; /* Ajusta la altura deseada */
    object-fit: cover; /* Asegura que la imagen rellene el espacio y mantenga proporción */
    margin: 10px 0; /* Añade espacio alrededor de la imagen */
}

.btn-ver-mas {
    margin-top: 10px; /* Espacio entre el párrafo y el botón */
    padding: 10px 20px; /* Tamaño del botón */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cursor de mano al pasar por encima */
}

.btn-ver-mas:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}



  
/*AQUI TERMINA EL ESTILO DE LAS ACTIVIDADES*/
/*galeria de fotos*/

.galeria {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.2); /* 80% de transparencia */
}
  
.galeria h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2c3e50;
}
  
.items {
    border-radius: 10px;
    padding: 20px;
}

.ImgFotos{
    width: 100%;
    max-width: 300px;;
}
  

/*Contacto*/

.contactotitulo{
    text-align: center;
    color: black;
    font-size: 30px;
    padding: 10px;
}



/*Miembros*/

.EquipoTrabajo {
    padding: 60px 60px;
    background-color: rgba(240, 240, 240, 0.2); /* 80% de transparencia */
    text-align: center;
}
  
.EquipoTrabajo h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
}
  
.EquipoTrabajo p {
    color: black;
    font-size: 1rem;
    margin-bottom: 30px;
    font-size: 20px;
}
  



  
/*Preguntas Frecuentes*/

.PreguntasFrecuentes {
    padding: 40px 20px;
    background-color: rgba(240, 240, 240, 0.2); /* 80% de transparencia */
    text-align: center;
}
  
.PreguntasFrecuentes h2 {
    color: black;
}
  
.PreguntasFrecuentes p {
   color: black;
}
  
.Preguntas {
    text-align: left;
    margin: 20px auto;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.Preguntas h3 {
    color: black;
}
  
.Preguntas h3:hover {
    color: blue;
}
  
.answer {
    display: none; /* Ocultar las respuestas por defecto */
    margin-top: 10px;
}
  
  /* Mostrar la respuesta al hacer clic en la pregunta */
.Preguntas.active .answer {
    display: block;
}
  

/*Footer*/

footer {
    
    color: #fff;
    padding: 20px;
    text-align: center;
}
.redessociales {
    list-style: none;
    padding: 0;
}
.redessociales li {
    display: inline;
    margin: 0 10px;
}
.redessociales a {
    color: #fff;
    text-decoration: none;
}
.redessociales a:hover {
    text-decoration: underline;
}

